In [4]:
import pytz
import yfinance as yf
import datetime as dt
import os
from datetime import datetime
import time
import pandas as pd

In [8]:
#Define Ticker
ticker = 'AAPL'
start = '2022-01-01'
end = '2022-12-01'
#interval 60m only available for last 760 days
data = yf.download(ticker, start= start, end= end,  interval = "60m")
data.index = pd.to_datetime(data.index).tz_localize('utc')
data.head(5)

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-04-27 09:30:00+00:00,33932.128906,33977.761719,33870.460938,33942.128906,33942.128906,0
2021-04-27 10:30:00+00:00,33945.351562,33973.738281,33913.609375,33943.699219,33943.699219,34690908
2021-04-27 11:30:00+00:00,33943.429688,33979.828125,33937.609375,33968.378906,33968.378906,26204084
2021-04-27 12:30:00+00:00,33970.058594,33970.308594,33915.480469,33954.859375,33954.859375,25122333
2021-04-27 13:30:00+00:00,33954.988281,33985.441406,33943.679688,33984.988281,33984.988281,23566184

In [9]:
timestr = time.strftime("%Y%m%d-%H%M%S")

if not os.path.exists(r'data/stock_data/' + ticker):
   # Create a new directory because it does not exist
   os.makedirs(r'data/stock_data/' + ticker)
data.to_csv('data/stock_data/' + ticker + '/' + ticker + '_' + start + '_' + end  +'.csv')